body { /* font-family: 'Lato',*/ sans-serif; border-top: 0px solid black; font-weight: 400;}
a { color:#3d80a7;  }
a:hover: { color: #33576E; text-transform: underline; }
h1 { font-weight:300; /*font-family: 'Lato', sans-serif;*/ margin-bottom: 10px; font-size: 32px; }
h2 { font-weight:300; line-height:28px; margin-bottom: 10px; }
h3 { margin-bottom: 10px; }
hr { margin: 18px 0px 18px 0px; border-top: 1px solid #E6E6E6; }

article { padding: 20px 0px 20px 0px; margin: 0px 40px 0px 0px; }
article:not(:last-child) { border-bottom: 1px solid #e6e6e6;}
cite { float: right; font-size: 11px; text-decoration: none; color: #666; }
code { padding: 2px 4px; color: #D14; background-color: #F7F7F9; border: 1px solid #E1E1E8; }
pre { background-color: #F7F7F9; border: 1px solid #E1E1E8; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
blockquote p { margin: 30px 20px 30px 20px; font-size: 14px; font-weight: 200; line-height: 23px; }

.social { padding: 5px 5px 12px 0px; }
.fb-like { float: left; margin: 0px 10px 10px 0px; }

.entry li { list-style: square; line-height:22px; }
.entry ul { line-height: 20px; margin: 0px 0px 10px 30px; }
.byline { font-size: 12px; color: #666; }

.footer { margin-top: 20px; color: #666; }
.nav-list > li > a { color: #666; font-size: 22px; line-height: 28px; text-align: center; }
.header { padding-bottom: 25px; padding-top: 40px; }

.img-right { float: right; padding: 0px 0px 5px 10px; width: 50%}
.img-left { float: left; padding: 7px 20px 5px 0px; width: 50%}
.img-mug { float: right; padding: 0px 0px 5px 10px; }

.caption-right { clear: both; float: none; font-size: 13px; padding: 0px 0px 10px 10px; }
.caption-left { clear: both; float: none; font-size: 13px; padding: 7px 20px 10px 0px; }
.post-media-right { float: right; }
.post-media-left { float: right; }

.nav-list { margin-top: 15px; }
.entry { font-size: 14px; line-height: 22px; }
.nav .nav-header { text-transform: none; font-weight: normal; font-size: 13px; padding-bottom: 18px; }

p.nav-header { text-transform: none; font-weight: normal; font-size:14px; line-height:22px; padding-bottom: 18px; }
p.nav-header.a { text-transform: none; font-weight: normal; font-size: 12px; padding-bottom: 18px; color:#3d80a7;  }

.post-meta { color:#666; font-size: 12px;  padding: 10px 0 0 0; }
.post-meta ul { list-style: none; padding: 0px; margin: 0px; font-size: 12px; }
.post-meta li { display: inline; padding-right: 10px; }
.post-pagination { font-size: 18px; }

.twitter-widget { padding: 20px 0px 0px 0px; }
.twitter-timeline { width:100%; height:600px; margin-top:20px; }

.row { margin-top: 50px; }

#disqus_thread { padding-top: 20px; }
#small-logo { display:none; }

@media screen and (max-width:760px) {
    #small-logo { display: block; }
    #small-logo img { width: 100px; }
}
@media screen and (max-width:760px) {
    #rail { margin-top:20px; }
    #logo { text-align:center; }
    #logo img { width:100px; }
    p.nav-header { width:60%; margin: 20px auto 0; text-align:center;}
}

/* https://gist.github.com/saintedlama/628ba457dd5ae8b97ece
/* Adjusted to give override background and text colour */
.highlight pre, pre, .highlight .hll {
    background-color: #49483E;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 3px;
    color: #FFFFFF;
}
/* Highlights taken from https://gist.github.com/asaaki/1007420  for Monokai theme */
.c                 { color: #75715e }                            /* Comment                     */
.err               { color: #960050; background-color: #1e0010 } /* Error                       */
.k                 { color: #66d9ef }                            /* Keyword                     */
.l                 { color: #ae81ff }                            /* Literal                     */
.n                 { color: #f8f8f2 }                            /* Name                        */
.o                 { color: #f92672 }                            /* Operator                    */
.p                 { color: #f8f8f2 }                            /* Punctuation                 */
.cm                { color: #75715e }                            /* Comment.Multiline           */
.cp                { color: #75715e }                            /* Comment.Preproc             */
.c1                { color: #75715e }                            /* Comment.Single              */
.cs                { color: #75715e }                            /* Comment.Special             */
.ge                { font-style: italic }                        /* Generic.Emph                */
.gs                { font-weight: bold }                         /* Generic.Strong              */
.kc                { color: #66d9ef }                            /* Keyword.Constant            */
.kd                { color: #66d9ef }                            /* Keyword.Declaration         */
.kn                { color: #f92672 }                            /* Keyword.Namespace           */
.kp                { color: #66d9ef }                            /* Keyword.Pseudo              */
.kr                { color: #66d9ef }                            /* Keyword.Reserved            */
.kt                { color: #66d9ef }                            /* Keyword.Type                */
.ld                { color: #e6db74 }                            /* Literal.Date                */
.m                 { color: #ae81ff }                            /* Literal.Number              */
.s                 { color: #e6db74 }                            /* Literal.String              */
.na                { color: #a6e22e }                            /* Name.Attribute              */
.nb                { color: #f8f8f2 }                            /* Name.Builtin                */
.nc                { color: #a6e22e }                            /* Name.Class                  */
.no                { color: #66d9ef }                            /* Name.Constant               */
.nd                { color: #a6e22e }                            /* Name.Decorator              */
.ni                { color: #f8f8f2 }                            /* Name.Entity                 */
.ne                { color: #a6e22e }                            /* Name.Exception              */
.nf                { color: #a6e22e }                            /* Name.Function               */
.nl                { color: #f8f8f2 }                            /* Name.Label                  */
.nn                { color: #f8f8f2 }                            /* Name.Namespace              */
.nx                { color: #a6e22e }                            /* Name.Other                  */
.py                { color: #f8f8f2 }                            /* Name.Property               */
.nt                { color: #f92672 }                            /* Name.Tag                    */
.nv                { color: #f8f8f2 }                            /* Name.Variable               */
.ow                { color: #f92672 }                            /* Operator.Word               */
.w                 { color: #f8f8f2 }                            /* Text.Whitespace             */
.mf                { color: #ae81ff }                            /* Literal.Number.Float        */
.mh                { color: #ae81ff }                            /* Literal.Number.Hex          */
.mi                { color: #ae81ff }                            /* Literal.Number.Integer      */
.mo                { color: #ae81ff }                            /* Literal.Number.Oct          */
.sb                { color: #e6db74 }                            /* Literal.String.Backtick     */
.sc                { color: #e6db74 }                            /* Literal.String.Char         */
.sd                { color: #e6db74 }                            /* Literal.String.Doc          */
.s2                { color: #e6db74 }                            /* Literal.String.Double       */
.se                { color: #ae81ff }                            /* Literal.String.Escape       */
.sh                { color: #e6db74 }                            /* Literal.String.Heredoc      */
.si                { color: #e6db74 }                            /* Literal.String.Interpol     */
.sx                { color: #e6db74 }                            /* Literal.String.Other        */
.sr                { color: #e6db74 }                            /* Literal.String.Regex        */
.s1                { color: #e6db74 }                            /* Literal.String.Single       */
.ss                { color: #e6db74 }                            /* Literal.String.Symbol       */
.bp                { color: #f8f8f2 }                            /* Name.Builtin.Pseudo         */
.vc                { color: #f8f8f2 }                            /* Name.Variable.Class         */
.vg                { color: #f8f8f2 }                            /* Name.Variable.Global        */
.vi                { color: #f8f8f2 }                            /* Name.Variable.Instance      */
.il                { color: #ae81ff }                            /* Literal.Number.Integer.Long */
