---
layout: default
title: Main Index
---

{% for post in site.posts limit: 10  %}

    <article>
    	<header>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		</header>
      {% if post.layout == 'post' %}
        <a href="{{ post.url }}">
          <img width="25%" src="{{ post.image }}" />
        </a>
        </br>
        <section class="entry">{{ post.description }}
          <a href="{{ post.url }}">>></a>
          </br>
        </section>
      {% else %}
        <p>From {{post.docauthor}} on <a href="{{ post.doclocation }}"> {{post.doctitle}} </a></p>
        <blockquote cite={{post.doclocation}}>{{ post.docquote }}</blockquote>
      {% endif %}
    </article>

{% endfor %}

<!--
<h2 class="post-pagination">Older posts: 1 | <a href="/index2.html">2</a></h2> -->
